.button {
  border: none;
  cursor: pointer;
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  background: var(--marine-blue);
  padding: 14px 26px;
  border-radius: 6px;
  transition: 0.2s ease;
}

.hide {
  z-index: -1;
}

.back {
  background: none;
  color: var(--cool-gray);
  border: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.confirm {
  background: var(--purple-blue);
}

@media screen and (min-width: 500px) {
  .confirm:hover {
    background: rgb(124, 124, 255);
  }

  .back:hover {
    color: var(--marine-blue);
    transition: 0.2s ease;
  }

  .button:hover {
    background: hsl(216, 75%, 32%);
  }
}

@media screen and (max-width: 1168px) {
  .button,
  .back {
    margin: 20px;
  }

  .hide {
    position: relative;
    left: -80px;
  }
}
