.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.planContainer {
  display: flex;
  flex-direction: column;
  background: var(--magnolia);
  padding: 20px;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  color: var(--marine-blue);
  height: fit-content;
}

.addOnsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textSecondary {
  color: var(--cool-gray);
  font-size: 14px;
}

.divider {
  background: var(--light-gray);
  height: 1px;
  margin: 20px 0;
}

.plan {
  display: flex;
  justify-content: space-between;
}

.plan > div > span:last-child {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s ease;
}

.plan > div > span:last-child:hover {
  color: var(--purple-blue);
}

.plan > span {
  font-weight: 700;
}

.planContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.planContent > span:first-child {
  font-weight: 500;
}

.totalContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.total {
  color: var(--purple-blue);
  font-weight: 700;
  font-size: 18px;
}
