.container {
  display: flex;
  height: 600px;
  background: var(--white);
  padding: 20px;
  border-radius: 10px;
  margin: 24px;
}

@media screen and (min-width: 1168px) {
  .container {
    position: relative;
  }
}
