.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.labelContainer {
  border: 1px solid var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  padding: 18px;
  height: 160px;
  width: 160px;
  cursor: pointer;
}

.label {
  color: var(--marine-blue);
  font-weight: 500;
}

.input {
  appearance: none;
  position: absolute;
}

.planPrice {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.price {
  color: var(--cool-gray);
  font-size: 14px;
}

.free {
  color: var(--marine-blue);
  font-size: 14px;
}

.selected {
  border: 1px solid var(--purple-blue);
  background: var(--magnolia);
}

@media screen and (max-width: 1168px) {
  .labelContainer {
    width: 100%;
    flex-direction: row;
    height: fit-content;
    justify-content: flex-start;
    gap: 18px;
  }
}
