.container {
  display: flex;
  flex-direction: column;
}

.label {
  border: 1px solid var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  padding: 14px;
  height: 160px;
  width: 160px;
  cursor: pointer;
}
