.heading {
  font-size: 40px;
  font-weight: 500;
  color: var(--marine-blue);
}

.subheading {
  color: var(--cool-gray);
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.stepContainer {
  height: 200px;
}

.personalInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.selectPlanContainer {
  display: flex;
  justify-content: space-between;
}

.addOnContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.finishingUpContainer {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1168px) {
  .heading {
    font-size: 30px;
  }

  .container {
    gap: 20px;
  }

  .headingContainer {
    gap: 10px;
  }

  .selectPlanContainer {
    flex-direction: column;
    gap: 14px;
  }
}
