:root {
  /* Primary */
  --marine-blue: hsl(213, 96%, 18%);
  --purple-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry: hsl(354, 84%, 57%);

  /* Neutral */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  font-family: 'Ubuntu', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--magnolia);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 40px !important;
  font-weight: 500 !important;
  color: var(--marine-blue);
}

p {
  color: var(--cool-gray) !important;
}

@media screen and (max-width: 1168px) {
  h1 {
    font-size: 30px !important;
  }
}
